@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

*, ::after, ::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 1, 32);
    background-image: linear-gradient(rgb(0, 1, 32), rgb(36, 8, 107), rgb(47, 12, 135));
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100dvh;
}

header {
    display: flex;
    border: 1px solid red;
    .icon {
        display: flex;
        align-items: center;
        padding-left: 2%;
        flex: 2;
        border: 1px solid red;
    }
    nav {
        @include displayFlex();
        
        flex: 3;
        #nav-bar {
            @include displayFlex();
            gap: 20px;
            overflow-y: visible;
            font-size: 24px;
            width: 500px;
            height: 70px;
            .tabs {
                @include displayFlex();
                background-color: rgb(47, 12, 135);
                position: relative;
                bottom: 50px;
                width: 250px;
                height: 200px;
                border-radius: 0px 0px 75px 75px;
                box-shadow: 0px 0px 10px black;
                padding-top: 100px;
                transition: 450ms;
            }
            .tabs:hover {
                bottom: -50px;
                padding-top: 20px;
                cursor: pointer;
            }
        }
    }
}

ul {
    list-style: none;            
}