@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

*, ::after, ::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

ul {
    list-style: none;            
}

body {
    height: 100dvh;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 1, 32);
    background-image: linear-gradient(rgb(0, 1, 32), rgb(36, 8, 107), rgb(47, 12, 135));
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100dvh;
    header {
        display: flex;
        .icon {
            display: flex;
            align-items: center;
            padding-left: 2%;
            flex: 2;
            h2 {
                z-index: 2;
            }
        }
        .head-nav {
            @include displayFlex();
            flex: 3;
            #nav-bar {
                @include displayFlex();
                gap: 20px;
                overflow-y: visible;
                font-size: 24px;
                width: 500px;
                height: 70px;
                .tabs {
                    @include displayFlex();
                    background-color: rgb(47, 12, 135);
                    position: relative;
                    bottom: 50px;
                    width: 250px;
                    height: 200px;
                    border-radius: 0px 0px 75px 75px;
                    box-shadow: 0px 0px 10px black;
                    padding-top: 100px;
                    transition: 450ms;
                    z-index: 2;
                }
                .tabs:hover {
                    bottom: -50px;
                    padding-top: 20px;
                    cursor: pointer;
                }
            }
        }
    }
    main {
        @include displayFlex();
        padding-top: 2%;
        padding-bottom: 2%;
        flex: 1;
        position: relative;
        #toolbox {
            @include displayFlex();
            flex-direction: column;
            gap: 25px;
            position: absolute;
            top: 0;
            left: 30px;
            margin-top: 10px;
            margin-left: 10px;
            transition: 0.5s;
            .toolbox-btns {
                @include displayFlex();
                width: 45px;
                height: 45px;
                border: none;
                outline-color: rgba(52, 4, 128, 0.637);
                background-color: rgba(146, 79, 255, 0);
                outline: 5px;
                outline-style: outset;
                border-radius: 10px;
                box-shadow: 0px 0px 10px black;
                transition: 0.5s;
                #build-icon {
                    font-size: 35px;
                    text-shadow: 0px 0px 5px rgb(146, 79, 255);
                }
                #undo-build {
                    font-size: 35px;
                    text-shadow: 0px 0px 5px rgb(146, 79, 255);
                }
                #reset-build {
                    font-size: 35px;
                    text-shadow: 0px 0px 5px rgb(146, 79, 255);
                }
            }
            .toolbox-btns:hover {
                transform: scale(1.2);
            }
        }
        .side-nav {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 0;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #121212;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 80px;
            padding-left: 0;
            font-size: 24px;
            box-shadow: 0px 10px 8px black;
            border-radius: 0px 30px 30px 0px;
            .side-header {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                padding-left: 10px;
            }
            .css-attributes {
                transition: 0.3s;
                z-index: 1;
                cursor: pointer;
                .attribute-btns {
                    padding: 5px 0 0 0;
                }
                .attribute-btns:hover {
                    color: black;
                }
                .attribute-list {
                    min-width: max-content;
                    overflow: hidden;
                    max-height: 0;
                    background-color: rgb(109, 87, 255);
                    transition: 1s;
                    z-index: 2;
                }
                .display-value {
                    padding-left: 10px;
                }
                .display-value:hover {
                    background-color: white;
                    color: black;
                }
            }
            .css-attributes:hover {
                background-color: white;
                color: black;
            }
        }
        .display {
            display: flex;
            width: 1020px;
            height: 550px;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0px 5px 5px black;
            .browser-window {
                display: flex;
                flex-direction: column;
                flex: 1;
                .browser-top {
                    @include displayFlex();
                    background-color: rgb(190, 190, 190);
                    flex: .7;
                    .browser-btns {
                        display: flex;
                        justify-content: flex-start;
                        flex: 1;
                        gap: 5px;
                        padding-left: 5px;
                        
                        .circles {
                            width: 20px;
                            height: 20px;
                            border-radius: 100px;
                        }
                        .circles:first-child {
                            background-color: rgb(255, 68, 68);
                        }
                        .circles:last-child {
                            background-color: rgb(0, 182, 0);
                        }
                        .circles:nth-child(0n+2) {
                            background-color: rgb(254, 254, 24);
                        }
                    }
                    .browser-search {
                        @include displayFlex();
                        flex: 4;
                        .search-bar {
                            width: 600px;
                            height: 35px;
                            background-color: white;
                            border-radius: 8px;
                        }
                    }
                }
                .browser-display {
                    flex: 6;
                    background-color: rgb(255, 255, 255);
                }
            }
        }
    }
    footer {
        @include displayFlex();
    }
}
